# dependencies
/node_modules

# env
.env*
!.env.example

# logs
*.log*

# editor
/.vscode/*
!/.vscode/extensions.json
!/.vscode/settings.json

# caches
.tanstack

# production
dist
dist-ssr
.output
.nitro
.vercel
.wrangler
.netlify
build
